# Postgres enviroments
POSTGRES_PASSWORD=everdaquetuaguantaesto
POSTGRES_USER=admin123
POSTGRES_DB=tpintergrador

# Backend enviroments

DB_HOST=database
DB_PORT=5432
JWT_SECRET=mi_super_clave_secreta
API_PORT=3000

# Frontend enviroments

VITE_API_URL=http://localhost:3000/api
